@import "../../../styles/utilities.css";
@import "../../../styles/variables.css";

.button {
  @apply --reset-box;
  @apply --truncate-text;
  padding: 7px 12px;
  cursor: pointer;
  font-size: .875em;
  line-height: 20px;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: all .2s ease;

  & > i {
    opacity: .5;
    transition: opacity .2s ease;
  }

  &:hover > i,
  &:focus > i {
    opacity: 1;
  }
}

.button.medium {
  padding-top: 3px;
  padding-bottom: 3px;
}

.button.default {
  color: color(var(--color-dark-gray));
  border: 1px solid color(var(--color-silver));

  &:hover,
  &:focus {
    color: color(var(--color-dark-slate));
    border: 1px solid color(var(--color-dark-slate));
  }
}

.button.gray {
  color: color(var(--color-dark-gray));
  background-color: color(var(--color-silver) a(50%));

  &:hover,
  &:focus {
    color: color(var(--color-dark-slate));
    background-color: color(var(--color-silver));
  }
}

.button.green {
  color: white;
  background-color: color(var(--color-sea-green));

  & > i {
    opacity: 1;
  }

  &:hover,
  &:focus {
    background-color: color(var(--color-sea-green) shade(25%));
  }
}

.button.clean {
  color: color(var(--color-dark-gray));

  &:hover,
  &:focus {
    color: color(var(--color-dark-slate));
  }
}
