@import "../../../styles/variables.css";

@value color-gray, color-green, color-slate, color-silver from 'choice-ui/colors';

.button {
  @apply --reset-box;
  @apply --truncate-text;
  padding: 7px 12px;
  cursor: pointer;
  font-size: .875em;
  line-height: 20px;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: all .2s ease;

  & > i {
    opacity: .5;
    transition: opacity .2s ease;
  }

  &:hover > i,
  &:focus > i {
    opacity: 1;
  }
}

.button.medium {
  padding-top: 3px;
  padding-bottom: 3px;
}

.button.default {
  color: color(color-gray);
  border: 1px solid color(color-silver);

  &:hover,
  &:focus {
    color: color(color-slate);
    border: 1px solid color(color-slate);
  }
}

.button.gray {
  color: color(color-gray);
  background-color: color(color-silver a(50%));

  &:hover,
  &:focus {
    color: color(color-slate);
    background-color: color(color-silver);
  }
}

.button.green {
  color: white;
  background-color: color(color-green);

  & > i {
    opacity: 1;
  }

  &:hover,
  &:focus {
    background-color: color(color-green shade(25%));
  }
}

.button.clean {
  color: color(color-gray);

  &:hover,
  &:focus {
    color: color(color-slate);
  }
}
