@import "../../../styles/variables.css";

@value color-blue, color-slate, color-purple, color-silver from 'choice-ui/colors';

.panel {
  position: relative;
  flex: 1 0 auto;
  width: 100%;
  border: 1px solid color(color-silver);
  border-radius: 2px;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.header {
  padding: 6px 8px;
  color: color(color-slate);
  background-color: color(color-silver a(18%));
  border-bottom: 1px solid color(color-silver);
  font-size: .875em;
  line-height: 24px;
}

.button {
  @apply --reset-box;
  position: absolute 6px 8px auto auto;
  padding: 2px;
  border-radius: 3px;
  opacity: .5;
  transition: all .3s ease;
  cursor: pointer;

  &:hover, &:focus {
    opacity: 1;
  }

  &.blue {
    background-color: color(color-blue);
    opacity: 1;

    &:hover, &:focus {
      background-color: color(color-blue shade(25%));
    }
  }

  &.purple {
    background-color: color(color-purple);
    opacity: 1;

    &:hover, &:focus {
      background-color: color(color-purple shade(25%));
    }
  }
}

.content {
  & .placeholder {
    margin: 2em;
    font-size: 1.125em;
    font-weight: bold;
    text-align: center;
    color: color(color-silver);
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
