@import "./variables.css";

@value color-slate from 'choice-ui/colors';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Kiro, "Helvetica Neue", Helvetica, Arial, "Pingfang SC", STHeiti, "Microsoft YaHei", 微软雅黑, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > :global(.ember-view) {
  color: color(color-slate);
  background-color: #e9ebec;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

:global(.container) {
  @apply --responsive-row;
  max-width: 940px;
}
