@import "./utilities.css";
@import "./variables.css";

:global(.form-field) {
  position: relative;
  clear: fix;
  display: flex;
  flex-flow: row;
  font-size: .875em;
  margin-bottom: 12px;
}

:global(.form-field--label) {
  @apply --truncate-text;
  display: block;
  margin-bottom: 12px;
  color: color(var(--color-dark-slate));
}

/*
:global(.form-field--hint) {
  display: block;
  color: color(var(--color-silver));

  @media (--lt-md) { margin-top: 12px; font-size: 12px; }
  @media (--lg) {
    position: absolute 39px 0 auto auto;
    width: 30%;
    padding: 9px 0 10px 32px;
    border-left: 1px solid color(var(--color-silver));
    font-size: 13px;
  }
}
*/

input[type=checkbox],
input[type=radio] {
  position: absolute;
  z-index: -1;
  left: -1000%;
}

:global(input[type=checkbox] + .form-field--label),
:global(input[type=radio] + .form-field--label) {
  padding-left: 2rem;
  background-size: 20px;
  background-repeat: no-repeat;
  background-image: url(/ember-choice-ui/assets/images/checkbox.png);
}

:global(input[type=checkbox] + .form-field--label) {
  background-position: 0 0;
}

:global(input[type=checkbox]:checked + .form-field--label) {
  background-position: 0 -40px;
}

:global(input[type=radio] + .form-field--label) {
  background-position: 0 -20px;
}

:global(input[type=radio]:checked + .form-field--label) {
  background-position: 0 -60px;
}
