:root {
  --color-purple: #5940aa;
  --color-blue: #1894f2;
  --color-sea-green: #2ecc71;
  --color-dark-slate: #4e5b68;
  --color-dark-slate2: #34495e;
  --color-gold: #f1c40f;
  --color-tomato: #e74c3c;
  --color-silver: #bdc3c7;
  --color-dark-gray: #919ba2;
}

/* @custom-media --notfix only screen and (width <= 960px); */
/* @custom-media --expand only screen and (width > 960px); */
/* @custom-media --widest only screen and (width > 1200px); */

/* @custom-media --mobile only screen and (width <= 425px); */
/* @custom-media --tablet only screen and (425px < width <= 768px); */
/* @custom-media --laptop only screen and (768px < width <= 1024px); */
/* @custom-media --normal only screen and (1024px < width <= 1440px); */

@custom-media --lt-md only screen and (width <= 1024px);

@custom-media --xs only screen and (width <= 425px);
@custom-media --sm only screen and (425px < width <= 768px);
@custom-media --md only screen and (768px < width <= 1024px);
@custom-media --lg only screen and (1024px < width <= 1440px);
