:root {
  --color-purple: #5940aa;
  --color-blue: #1894f2;
  --color-sea-green: #2ecc71;
  --color-dark-slate: #4e5b68;
  --color-dark-slate2: #34495e;
  --color-gold: #f1c40f;
  --color-tomato: #e74c3c;
  --color-silver: #bdc3c7;
  --color-dark-gray: #919ba2;
}
