body,
body > :global(.ember-view) {
  min-height: 100vh;
}

:global(.wrapper) {
  margin: 0 auto;
}

@media screen and (max-width: 425px) {
  :global(.wrapper) {
    mix-width: 320px;
    max-width: none;
  }
}

@media screen and (max-width: 768px) {
  :global(.wrapper) {
    max-width: 728px;
  }
}

@media screen and (max-width: 1024px) {
  :global(.wrapper) {
    max-width: 940px;
  }
}

:global(.wrapper:not(:last-child)) {
  margin-bottom: 12px;
}

:global(.wrapper.narrow) {
  width: 320px;
}

:global(.content) {
  padding: 12px;
}
