:global(.wrapper) {
  width: 960px;
  margin: 0 auto;
}

:global(.wrapper:first-child) {
  margin-top: 12px;
}

:global(.wrapper:not(:last-child)) {
  margin-bottom: 12px;
}

:global(.wrapper.narrow) {
  width: 320px;
}

:global(.wrapper.wider) {
  width: 640px;
}

:global(.content) {
  padding: 12px;
}
