<div class="wrapper">
  <ul>
    {{#each model.components as |component|}}
      {{#link-to "index" (query-params component=component)}}
        <li>{{concat "choice/" component}}</li>
      {{/link-to}}
    {{/each}}
  </ul>
</div>
